<!-- <div class="row">
<div class="table-responsive div-fix top5">
<table class="table  table-bordered table-sm col-sm-12" role="grid" style="border-collapse: collapse !important">
    <thead>
        <tr>
            <th style="width: 1%" class="table-th">first name</th>
                <th style="width: 1%" class="table-th">Last name</th>
                    <th style="width: 1%" class="table-th">city</th>
                        <th style="width: 1%"  class="table-th">DOB</th>
                            <th style="width: 1%" class="table-th">email</th>
                                <th style="width: 1%" class="table-th">mobile number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of temparray">
            <td style="width: 3%" class="table-td">{{data.firstName}}</td>
            <td style="width: 3%" class="table-td">{{data.lastName}}</td>
            <td style="width: 3%" class="table-td">{{data.city}}</td>
            <td style="width: 3%" class="table-td">{{data.dob |date:'dd/MM/yy'}}</td>
            <td style="width: 3%" class="table-td">{{data.emailID}}</td>
            <td style="width: 3%" class="table-td">{{data.mobileNumber}}</td>
        </tr>
    </tbody>
</table> 
</div>
</div> -->


<h3> first name : {{userdata.firstName}}</h3> 
<h3> Last name : {{userdata.lastName}}</h3> 
<h3>city : {{userdata.city}}</h3> 
<h3> DOB : {{userdata.dob |date:'dd/MM/yy'}} </h3> 
<h3> email : {{userdata.emailID}} </h3> 
<h3> mobile number : {{userdata.mobileNumber}}</h3> 